<?xml version="1.0" encoding="UTF-8"?>

<module name="dLJ placement" class="ForcePlacement">

    <inputs>
        <input name="inField" type="pl.edu.icm.visnow.lib.types.VNIrregularField" modifiers="NECESSARY:TRIGGERING">
            <acceptor>
                <param name="IRREGULAR" value="true"/>
                <param name="CELLSETS" value="true"/>
            </acceptor>
        </input>
    </inputs>
    <outputs>
        <output name="outField" type="pl.edu.icm.visnow.lib.types.VNIrregularField">
            <schema>
                <param name="IRREGULAR" value="true"/>
            </schema>
        </output>
        <geometryOutput/>
    </outputs>
    <parameters>
    </parameters>
    <description value="builds the graph geometry by minimizing Lennard-Jones type potential"/>
</module>
